@charset "utf-8";

@media (min-width:600px) and (max-width:1300px) {

    /* slider */
    #slider {
        box-shadow: inset 0 1vw 1vw -0.5vw rgba(0, 0, 0, 0.3);
    }

    #slider img {
        width: 100%;
        vertical-align: bottom;
        position: relative;
        z-index: -1;
    }

    .section1 {
        width: 100%;
        height: 40vw;
    }

    .section1 h1 {
        font-size: 3vw;
        padding-top: 6vw;
        text-align: center;
    }

    .section1 h2 {
        font-size: 1.5vw;
        padding: 1.56vw 0 6vw;
        text-align: center;
        color: gray;
    }

    .section1 .swiper {
        width: 80vw;
        height: 20vw;
        margin: 0 auto;
    }

    .section1 .swiper-wrapper {
        display: flex;
    }

    .section1 .swiper-slide {
        text-align: center;
    }

    .section1 .swiper-slide img {
        width: 15vw;
        height: 15vw;
        border: 0.052vw solid lightgray;
        border-radius: 50%;
    }

    .section1 .brandSwiper .swiper-scrollbar-drag {
        background-color: #00a040;
    }

    .section2 {
        width: 100%;
        height: 77.08vw;
        position: relative;
    }

    .section2 .background1 {
        width: 83.33vw;
        height: 41.67vw;
        background-color: #f0f5ef;
        border-radius: 0 2.08vw 2.08vw 0;
        position: absolute;
        left: 0;
        top: 6.25vw;
        z-index: 1;
    }

    .section2 .swiper {
        width: 90%;
        height: 36.46vw;
    }

    .section2 .swiper-slide {
        width: 80%;
        height: 36.46vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .section2 .swiper-slide img {
        width: 37.5vw;
        height: 21.88vw;
        border-radius: 2.08vw;
    }

    .section2 .swiper-button-next::after,
    .swiper-button-prev::after {
        color: #00a040;
        font-size: 3vw;
    }

    .section2 .textbox {
        writing-mode: vertical-rl;
        margin-left: -5.2vw;
        height: 21.88vw;
    }

    .section2 .textbox h2 {
        line-height: 2.6vw;
        font-size: 1.56vw;
    }

    .section2 .textbox p {
        line-height: 2.08vw;
        font-size: 1.04vw;
        margin-right: 2.08vw;
    }

    .section2 .background2 {
        width: 83.33vw;
        height: 20.83vw;
        background-color: #ffffff;
        border: 0.3vw solid #f0f5ef;
        border-right: none;
        border-radius: 2.08vw 0 0 2.08vw;
        position: absolute;
        right: 0;
        top: 42.71vw;
        z-index: 2;
    }

    .section2 .notice {
        display: flex;
        align-items: center;
    }

    .section2 .notice h3 {
        width: 20.83vw;
        height: 20.52vw;
        line-height: 20.52vw;
        text-align: center;
        font-size: 1.56vw;
    }

    .section2 .notice table {
        width: 62.5vw;
        height: 15.63vw;
        font-size: 1.25vw;
    }

    .section3 {
        width: 100%;
        height: 133.85vw;
        position: relative;
    }

    .section3 .copywriting {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .section3 .copywriting h1 {
        font-size: 5.21vw;
        letter-spacing: 2.6vw;
        line-height: 8.33vw;
        margin-bottom: 2.6vw;
        color: #00a040;
    }

    .section3 .copywriting p {
        padding-top: 2.6vw;
        font-size: 2.08vw;
        letter-spacing: 0.52vw;
        line-height: 5.21vw;
        text-align: center;
        color: #00a040;
    }

    .section3>img {
        width: 100%;
        margin-top: 31.25vw;
        vertical-align: bottom;
        z-index: 1;
    }

    .section3 .background1 {
        height: 36.46vw;
        background-color: #f0f5ef;
        display: flex;
        justify-content: center;
    }

    .section3 .symbol {
        width: 33%;
        text-align: center;
    }

    .section3 .symbol:nth-of-type(2) {
        position: relative;
        z-index: 1;
    }

    .section3 .symbol:nth-of-type(2)::before,
    .section3 .symbol:nth-of-type(2)::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0.156vw;
        background: linear-gradient(to top, rgba(0, 160, 64, 0.8), rgba(0, 160, 64, 0));
        z-index: -1;
    }

    .section3 .symbol:nth-of-type(2)::before {
        left: 0;
    }

    .section3 .symbol:nth-of-type(2)::after {
        right: 0;
    }

    .section3 .symbol img {
        width: 13.02vw;
        padding-top: 7.81vw;
        opacity: 0.8;
    }

    .section3 .symbol p {
        padding-top: 2.6vw;
        font-size: 1.56vw;
        font-weight: bold;
        text-align: center;
        line-height: 2.6vw;
        color: #00a040;
        opacity: 0.8;
        letter-spacing: 0.26vw;
    }

    .section4 {
        width: 100%;
        height: 40vw;
    }

    .section4 h1 {
        font-size: 3vw;
        padding-top: 6vw;
        text-align: center;
    }

    .section4 h2 {
        font-size: 1.5vw;
        padding: 1.56vw 0 6vw;
        text-align: center;
        color: gray;
    }

    .section4 .swiper {
        width: 80vw;
        height: 20vw;
        margin: 0 auto;
    }

    .section4 .swiper-wrapper {
        display: flex;
    }

    .section4 .swiper-slide {
        text-align: center;
    }

    .section4 .swiper-slide img {
        width: 15vw;
        height: 15vw;
        border: 0.052vw solid lightgray;
        border-radius: 50%;
    }

    .section4 .productSwiper .swiper-scrollbar-drag {
        background-color: #00a040;
    }

    .section5 {
        width: 100%;
        height: 71.88vw;
        position: relative;
    }

    .section5 .background1 {
        width: 83.33vw;
        height: 41.67vw;
        background-color: #f0f5ef;
        border-radius: 0 2.08vw 2.08vw 0;
        position: absolute;
        left: 0;
        top: 6.25vw;
        z-index: 1;
    }

    .section5 .wrap_campaign {
        height: 36.46vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section5 .wrap_campaign>* {
        display: flex;
        padding: 0 5.2vw;
        align-items: center;
    }

    .section5 .campaign2 {
        position: relative;
        z-index: 0;
        padding: 1.41vw 5.2vw;
    }

    .section5 .campaign2::before,
    .section5 .campaign2::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.1vw;
        background: linear-gradient(to right, transparent, #00a040, transparent);
        z-index: -1;
    }

    .section5 .campaign2::before {
        top: 0;
    }

    .section5 .campaign2::after {
        bottom: 0;
    }

    .section5 img {
        width: 13.02vw;
        height: auto;
        border-radius: 1.04vw;
    }

    .section5 .background1 p {
        margin-left: 2.6vw;
        height: 7.81vw;
        font-size: 1vw;
    }

    .section5 .background1 span {
        display: block;
        margin-bottom: 3.13vw;
        font-size: 1.56vw;
        font-weight: bold;
    }

    .section5 .campaign3 span {
        margin-left: -1.04vw;
    }

    .section5 .background2 {
        width: 83.33vw;
        height: 20.83vw;
        background-color: #ffffff;
        border: 0.3vw solid #f0f5ef;
        border-right: none;
        border-radius: 2.08vw 0 0 2.08vw;
        position: absolute;
        right: 0;
        top: 42.71vw;
        z-index: 2;
    }

    .section5 .activity {
        display: flex;
        align-items: center;
    }

    .section5 .activity h3 {
        width: 20.83vw;
        height: 20.52vw;
        line-height: 20.52vw;
        text-align: center;
        font-size: 1.56vw;
    }

    .section5 .activity table {
        width: 52.08vw;
        height: 15.63vw;
        font-size: 1.25vw;
        margin-left: 1.56vw;
    }

    .section6 {
        width: 100%;
        height: 50vw;
        position: relative;
    }

    .section6 .TV {
        width: 91.15vw;
        height: 41.67vw;
        background-color: #f0f5ef;
        border-radius: 2.08vw 0 0 2.08vw;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
    }

    .section6 .TV>* {
        margin-top: 2.08vw;
    }

    .section6 .textbox {
        width: 30%;
        height: 60%;
        padding-left: 5.2vw;
    }

    .section6 h1 {
        font-size: 2.08vw;
        margin-bottom: 3vw;
    }

    .section6 p {
        font-size: 1.3vw;
    }

    .section6 .swiper {
        width: 100%;
        height: 100%;
    }

    .section6 img {
        width: 90%;
        border-radius: 2.6vw;
        box-shadow: 0.52vw 0.52vw 1.04vw rgba(0, 0, 0, 0.3);
    }

    .section6 .TVSwiper {
        width: 70%;
        height: 70%;
        position: relative;
        padding-bottom: 1.56vw;
    }

    .section6 .TVSwiper .swiper-pagination {
        left: -10.42vw;
        bottom: 0;
    }

    .section6 .TVSwiper .swiper-pagination-bullet {
        width: 1vw;
        height: 1vw;
        margin: 0 0.5vw;
    }

    .section6 .TVSwiper .swiper-pagination-bullet-active {
        background-color: #00a040;
    }

}